//path
$customicons-font-path: "../fonts/customicons" !default;

//font
$font-base: "Open Sans", "Arial", sans-serif !default;
$font-secondary: "Open Sans", "Arial", sans-serif !default;

// Color
$color-font-body: #928987 !default;
$color-font-headings: #4A4A4A !default;

$color-statistics: rgba(78, 147, 226, 1.0);
$color-orderedfood: rgba(255, 147, 63, 1.0);
$color-orderedmealplan: rgba(214, 42, 65, 1.0);

//Size
$size-font-base: 1.2rem !default;
$size-font-h1: 2rem !default;
$size-font-h2: 1.8rem !default;

$height-header: 82px !default;
$width-wrapper: 100% !default;