				<div class="dashboard">
					
					<div class="orders col-md-4 dashboard__left text-center">
						<h2>Orders completed</h2>
						<div class="filter">
							<span class="filter__label">Month of</span>
							<div class="dropdown">
							  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown__button customicon">
							    October
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li><a href="#">value1</a></li>
							    <li><a href="#">value2</a></li>
							    <li><a href="#">value3</a></li>
							  </ul>
							</div>
						</div>

						<div class="ordersnumber">400</div>
						<div class="lastmonth">
							Last month: <span class="lastmonth__number">3900</span>
						</div>

						<div class="orders__chart">
							<img src="img/chart1.png" alt="" class="img-responsive">
						</div>
					</div>

					<div class="dashboard__right col-md-8">
						<div class="pending">
							<div class="pending__orders text-center col-md-6">
								<h2>Pending orders</h2>

								<div class="filter">
									<span class="filter__label">Month of</span>
									<div class="dropdown">
									  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown__button customicon">
									    October
									  </button>
									  <ul class="dropdown-menu" aria-labelledby="dLabel">
									    <li><a href="#">value1</a></li>
									    <li><a href="#">value2</a></li>
									    <li><a href="#">value3</a></li>
									  </ul>
									</div>
								</div>

								<div class="ordersnumber pending__ordersnumber pending__ordersnumber_up customicon">400</div>

								<div class="lastmonth">
									Last month: <span class="lastmonth__number">3900</span>
								</div>

							</div>

							<div class="pending__mealplan text-center col-md-6">
								<h2>Pending meal plans</h2>

								<div class="filter">
									<span class="filter__label">Remaining for</span>
									<div class="dropdown">
									  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown__button customicon">
									    October
									  </button>
									  <ul class="dropdown-menu" aria-labelledby="dLabel">
									    <li><a href="#">value1</a></li>
									    <li><a href="#">value2</a></li>
									    <li><a href="#">value3</a></li>
									  </ul>
									</div>
								</div>

								<div class="ordersnumber pending__ordersnumber pending__ordersnumber_down customicon">400</div>

								<div class="lastmonth">
									Last month: <span class="lastmonth__number">3900</span>
								</div>

							</div>
						</div>
						
						<div class="col-md-12 full-width-block">
							<div class="statistics dashboard__block full-width-block">
								<div class="title-block text-center customicon">
									<div class="statistics__title block-title customicon">Statistics</div>

									<div class="filter">
										<div class="statistics__dropdown dropdown">
										  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown__button customicon">
										    October
										  </button>
										  <ul class="dropdown-menu" aria-labelledby="dLabel">
										    <li><a href="#">value1</a></li>
										    <li><a href="#">value2</a></li>
										    <li><a href="#">value3</a></li>
										  </ul>
										</div>

										<div class="dropdown">
										  <button id="dLabel1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown__button customicon">
										    Daily
										  </button>
										  <ul class="dropdown__menu dropdown-menu" aria-labelledby="dLabel1">
										    <li><a href="#">value1</a></li>
										    <li><a href="#">value2</a></li>
										    <li><a href="#">value3</a></li>
										  </ul>
										</div>

									</div>
								</div>

								<div class="statistics__chart">
									<img src="img/chart2.png" alt="" class="img-responsive">
								</div>
							</div>
						</div>

						<div class="col-md-6 half-width-block">
							<div class="dashboard__block orderedfood">
								<div class="title-block text-center customicon">
									<div class="block-title customicon orderedfood__title">Most ordered food</div>
								</div>

								<div class="orderedfood__items">
									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedfood">206</div>
									</div>

									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedfood">206</div>
									</div>

									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedfood">206</div>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-6 half-width-block orderedmealplan">
							<div class="dashboard__block">
								<div class="title-block text-center customicon">
									<div class="block-title customicon orderedmealplan__title">Most ordered meal plan</div>
								</div>
								
								<div class="orderedfood__items">
									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedmealplan">206</div>
									</div>

									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedmealplan">206</div>
									</div>

									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedmealplan">206</div>
									</div>

									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedmealplan">206</div>
									</div>

									<div class="fooditem">
										<div class="fooditem__imagebox">
											<img src="img/food.jpeg" alt="" class="fooditem__image">
										</div>
										<a href="#" class="fooditem__title">Ayam Bakar Mas Monyong Pinggir jalan Affandi</a>
										<div class="fooditem__number fooditem__number_orderedmealplan">206</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>